{% extends "nav_base.html" %}

{% block title %}
    Universities bulk upload
{% endblock title %}

{% block nav %}
    {% include "includes/nav.html" with active_tab='bulk-upload' %}
{% endblock %}

{% block content %}
{% include 'includes/upload_nav.html' %}
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <h1 class="col-xs-12">University Bulk Upload</h1>
        </div>
        <div class="row">
            <form method="post" class="col-xs-6 form-horizontal" action="./" enctype="multipart/form-data" id="add-form">
                {% csrf_token %}
                <div class="bulk-upload">
                    {{form.xlsx_file}}
                </div>
                <input id="upload" type='submit' class="btn btn-default " value="Upload">
            </form>
        </div>
    </div>
</div>
{% endblock %}