<div class="sponsors">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="funded-by">
					<h5 class="text-center">Funded By</h5>
				</div>
			</div>
		</div>
		<div class="main-sponsors row">
			<div class="col-xs-5 col-xs-offset-1 col-md-2 col-md-offset-4">
				<a href="http://www.australia.gov.au" target="_blank" class="australian-government" onclick="trackOutboundLink('http://www.australia.gov.au'); return false;">
				</a>	
			</div>

			<div class="col-xs-5 col-md-2">
				<a href="http://www.olt.gov.au" target="_blank" class="office-of-learning" onclick="trackOutboundLink('http://www.olt.gov.au'); return false;">
				</a>	
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="other-sponsors">
					<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-1 lcnau-logo">
						<a href="http://www.lcnau.org/" onclick="trackOutboundLink('http://www.lcnau.org/'); return false;" target="_blank" class="lcnau">
						</a>	
					</div>
					<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 dynamics-of-language-logo">
						<a href="http://www.dynamicsoflanguage.edu.au/" target="_blank" class="dynamic-of-language" onclick="trackOutboundLink('http://www.lcnau.org/'); return false;">
						</a>	
					</div>
					<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 anu-logo">
						<a href="http://www.anu.edu.au/" target="_blank" class="anu" onclick="trackOutboundLink('http://www.anu.edu.au/'); return false;">
						</a>	
					</div>
					<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 macquarie-logo">
						<a href="http://mq.edu.au/" target="_blank" class="macquarie" onclick="trackOutboundLink('http://mq.edu.au/'); return false;">
						</a>	
					</div>
					<div class="col-xs-6 col-xs-offset-3 col-sm-2 col-sm-offset-0 melbourne-university-logo">
						<a href="http://www.unimelb.edu.au/" target="_blank" class="melbourne-university" onclick="trackOutboundLink('http://www.unimelb.edu.au/'); return false;">
						</a>	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>