$default_text: #fff !default;
$alt_text: #000 !default;
$link_text: #235185 !default;

$default_background: #fff !default;
$alt_background: #000 !default;

$primary_blue: #235185 !default;
$primary_orange: #FE9D35 !default;

$label-primary-color: #235185 !default;

$accordion-checkbox-border: #ccc;

$home-page-search-buttons-color: rgba(255, 255, 255, 0.75);

$search-box-border: #ccc;
$search-box-heading-background: #312D2C;

$nav-background: #322d2d;
$nav-color: #777;
$nav-pill-color: #000;
$nav-pill-active-color: #000;

$banner-color: #000;
$banner-border: #FF9644;
